/* google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #b89b8b;
    /* background-color: #C7C7D3; */
}

/* navber code start */

.logo{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}
.header-area{
    /* background-color: #1E1E1E; */
    background-color: #264067;
    padding: 15px 0;
}
.header-area .navbar{
    padding: 0;
    margin: 0;
}
.header-area .nav-item{
    margin: 0 30px;
}
.header-area .navbar-nav .nav-item:last-child{
    margin-right: 0;
}
.header-area .navbar-nav .nav-item:last-child a{
    border: 1px solid #ffffffa3;
    border-radius: 6px;
    padding: 10px 25px;
}
.header-area .nav-link,
.header-area .nav-link.active{
    color: #fff;
}


/* Hero-area code start */
.Hero-area{
    min-height: calc(100vh - 85px);
    padding: 100px 0;
}
.hero-text{
    line-height: 2em;
}
.hero-text h4{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 800;
}
.hero-text h4 span{
    background-color: aqua;
    padding:5px 10px;
    border-radius: 5px;
    margin-right: 5px;
}
.hero-text h2{
    font-size: 56px;
    font-weight: 700;
    margin: 25px 0;
    letter-spacing: 0.2em;
}
.hero-text p{
    margin: 20px 0;
}
.hero-text a{
    text-decoration: none;
    background-color: aqua;
    padding: 10px 25px;
    border-radius: 5px;
    transition: 0.5s;
    color: black;
    font-size: 18px;
}
.hero-text a:hover{
    background-color: #264067;
    color: #fff;
}